<a href="https://colab.research.google.com/github/amrit6878/Learning-PySpark/blob/main/Filter_Where.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**filter() and where()**
 Both functions are used to filter rows from a DataFrame based on a boolean condition and return a new DataFrame with rows satisfying the condition.

 equivalence: `df.filter(condition)  ==  df.where(condition)`

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("FilterWhereExamples").getOrCreate()

employees = [
    (1, "Alice", 25, "HR", 50000),
    (2, "Bob", 30, "IT", 60000),
    (3, "Charlie", 28, "Finance", 55000),
    (4, "David", 35, "IT", 75000),
    (5, "Eva", 40, "HR", 80000),
    (6, "Frank", None, "Finance", 70000),
    (7, "Grace", 29, None, 65000)
]
emp_columns = ["ID", "Name", "Age", "Dept", "Salary"]

emp_df = spark.createDataFrame(employees, emp_columns)
emp_df.show()

+---+-------+----+-------+------+
| ID|   Name| Age|   Dept|Salary|
+---+-------+----+-------+------+
|  1|  Alice|  25|     HR| 50000|
|  2|    Bob|  30|     IT| 60000|
|  3|Charlie|  28|Finance| 55000|
|  4|  David|  35|     IT| 75000|
|  5|    Eva|  40|     HR| 80000|
|  6|  Frank|NULL|Finance| 70000|
|  7|  Grace|  29|   NULL| 65000|
+---+-------+----+-------+------+

In [ ]:
sales = [
    (101, "Laptop", 5, 50000, "2025-01-10"),
    (102, "Phone", 10, 20000, "2025-02-15"),
    (103, "Tablet", 3, 30000, "2025-02-20"),
    (104, "Laptop", 7, 52000, "2025-03-01"),
    (105, "Camera", 2, 25000, "2025-03-15"),
    (106, "Phone", 15, 18000, "2025-04-05")
]
sales_columns = ["OrderID", "Product", "Quantity", "Price", "Date"]

sales_df = spark.createDataFrame(sales, sales_columns)
sales_df.show()

+-------+-------+--------+-----+----------+
|OrderID|Product|Quantity|Price|      Date|
+-------+-------+--------+-----+----------+
|    101| Laptop|       5|50000|2025-01-10|
|    102|  Phone|      10|20000|2025-02-15|
|    103| Tablet|       3|30000|2025-02-20|
|    104| Laptop|       7|52000|2025-03-01|
|    105| Camera|       2|25000|2025-03-15|
|    106|  Phone|      15|18000|2025-04-05|
+-------+-------+--------+-----+----------+

In [ ]:
students = [
    (1, "John", "CSE", 85),
    (2, "Sara", "ECE", 92),
    (3, "Mike", "MECH", 45),
    (4, "Lily", "CSE", 78),
    (5, "Tom", "EEE", 55),
    (6, "Nina", "CSE", None)
]
stu_columns = ["RollNo", "Name", "Branch", "Marks"]

stu_df = spark.createDataFrame(students, stu_columns)
stu_df.show()

+------+----+------+-----+
|RollNo|Name|Branch|Marks|
+------+----+------+-----+
|     1|John|   CSE|   85|
|     2|Sara|   ECE|   92|
|     3|Mike|  MECH|   45|
|     4|Lily|   CSE|   78|
|     5| Tom|   EEE|   55|
|     6|Nina|   CSE| NULL|
+------+----+------+-----+

# Examples of filter() and where() on Multiple Datasets

In [ ]:
emp_df.filter((col("Dept") == "IT") & (col("Salary") > 60000) | (col("Dept") != "HR")).show()

+---+-------+----+-------+------+
| ID|   Name| Age|   Dept|Salary|
+---+-------+----+-------+------+
|  2|    Bob|  30|     IT| 60000|
|  3|Charlie|  28|Finance| 55000|
|  4|  David|  35|     IT| 75000|
|  6|  Frank|NULL|Finance| 70000|
+---+-------+----+-------+------+

In [ ]:
sales_df.filter((col("Quantity") > 5) | (col("Product").isin("Laptop", "Phone"))).show()

+-------+-------+--------+-----+----------+
|OrderID|Product|Quantity|Price|      Date|
+-------+-------+--------+-----+----------+
|    101| Laptop|       5|50000|2025-01-10|
|    102|  Phone|      10|20000|2025-02-15|
|    104| Laptop|       7|52000|2025-03-01|
|    106|  Phone|      15|18000|2025-04-05|
+-------+-------+--------+-----+----------+

In [ ]:
stu_df.filter(col("Marks") >= 60).show()
stu_df.where(col("Branch").isin("CSE", "ECE")).show()

+------+----+------+-----+
|RollNo|Name|Branch|Marks|
+------+----+------+-----+
|     1|John|   CSE|   85|
|     2|Sara|   ECE|   92|
|     4|Lily|   CSE|   78|
+------+----+------+-----+

+------+----+------+-----+
|RollNo|Name|Branch|Marks|
+------+----+------+-----+
|     1|John|   CSE|   85|
|     2|Sara|   ECE|   92|
|     4|Lily|   CSE|   78|
|     6|Nina|   CSE| NULL|
+------+----+------+-----+

In [ ]:
stu_df.filter((col("Marks") < 50) | col("Marks").isNull()).show()

+------+----+------+-----+
|RollNo|Name|Branch|Marks|
+------+----+------+-----+
|     3|Mike|  MECH|   45|
|     6|Nina|   CSE| NULL|
+------+----+------+-----+

Key Points to Remember
	1.	filter() and where() are identical in functionality.
	2.	Use col() or string expressions for conditions.
	3.	Combine conditions with:

	•	& → AND
	•	| → OR
	•	~ → NOT

	•	.isin([...])
	•	.isNull() / .isNotNull()
	•	.startswith(), .endswith(), .contains()

Practical Use Cases

	•	Filter active employees
	•	Get data above a threshold
	•	Remove NULL or missing records
	•	Apply multiple logical conditions