<a href="https://colab.research.google.com/github/amrit6878/Learning-PySpark/blob/main/saving%26Writing_modes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# write() method inside the DataFrameWriter module present inside pyspark.sql library is used to write dataframe into csv files

In [5]:
from pyspark.sql import *

# Create a SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

data = [(1,'Amrit'), (2,'Aman'), (3,'Neeraj'), (4,'Shivam'), (5,'Prakhar')]
schema = ['id', 'Name']

df = spark.createDataFrame(data, schema)
df.show()

+---+-------+
| id|   Name|
+---+-------+
|  1|  Amrit|
|  2|   Aman|
|  3| Neeraj|
|  4| Shivam|
|  5|Prakhar|
+---+-------+

In [7]:
df.write.csv('output1.csv', header = True)

mode parameter inside .option or .csv object is used to define different modes of saving files like-

(.......csv('..path...' , header=True, mode=xyz)

*   append : Appends the content over existing files
*   overwrite: it overwrite or replaces the already existing content
* ignore : silently ignores the operation if data is already existing
*  error : throwback an exceptional error if data already exists (by default case)

In [12]:
df.write.csv('output2.csv', header = True, mode = 'append')
df.write.csv('output2.csv', header = True, mode = 'append')
df.show()

+---+-------+
| id|   Name|
+---+-------+
|  1|  Amrit|
|  2|   Aman|
|  3| Neeraj|
|  4| Shivam|
|  5|Prakhar|
+---+-------+

In [13]:
df1 = spark.read.csv('output2.csv', header = True)
df1.show()

+---+-------+
| id|   Name|
+---+-------+
|  3| Neeraj|
|  4| Shivam|
|  5|Prakhar|
|  3| Neeraj|
|  4| Shivam|
|  5|Prakhar|
|  3| Neeraj|
|  4| Shivam|
|  5|Prakhar|
|  1|  Amrit|
|  2|   Aman|
|  1|  Amrit|
|  2|   Aman|
|  1|  Amrit|
|  2|   Aman|
+---+-------+