<a href="https://colab.research.google.com/github/amrit6878/Learning-PySpark/blob/main/SelectCol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SelectAccessData").getOrCreate()

data = [
    (1, "Alice", 25, "HR"),
    (2, "Bob", 30, "IT"),
    (3, "Charlie", 28, "Finance"),
    (4, "David", 35, "IT"),
    (5, "Eva", 40, "HR")
]
columns = ["ID", "Name", "Age", "Dept"]

df = spark.createDataFrame(data, columns)
df.show()

+---+-------+---+-------+
| ID|   Name|Age|   Dept|
+---+-------+---+-------+
|  1|  Alice| 25|     HR|
|  2|    Bob| 30|     IT|
|  3|Charlie| 28|Finance|
|  4|  David| 35|     IT|
|  5|    Eva| 40|     HR|
+---+-------+---+-------+

In [3]:
from pyspark.sql.functions import col
df.select(col("Name"), col("Age")).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 28|
|  David| 35|
|    Eva| 40|
+-------+---+

# Select All Columns

In [4]:
df.show()

+---+-------+---+-------+
| ID|   Name|Age|   Dept|
+---+-------+---+-------+
|  1|  Alice| 25|     HR|
|  2|    Bob| 30|     IT|
|  3|Charlie| 28|Finance|
|  4|  David| 35|     IT|
|  5|    Eva| 40|     HR|
+---+-------+---+-------+

# Select Single Column

In [5]:
df.select("Name").show()
df.select(col("Age")).show()

+-------+
|   Name|
+-------+
|  Alice|
|    Bob|
|Charlie|
|  David|
|    Eva|
+-------+

+---+
|Age|
+---+
| 25|
| 30|
| 28|
| 35|
| 40|
+---+

# Select Multiple Columns

In [6]:
df.select("Name", "Dept").show()
df.select(col("Age"), col("Dept")).show()

+-------+-------+
|   Name|   Dept|
+-------+-------+
|  Alice|     HR|
|    Bob|     IT|
|Charlie|Finance|
|  David|     IT|
|    Eva|     HR|
+-------+-------+

+---+-------+
|Age|   Dept|
+---+-------+
| 25|     HR|
| 30|     IT|
| 28|Finance|
| 35|     IT|
| 40|     HR|
+---+-------+

# Select with Column Aliases - `select(col("col_name").alias("alias_name")`

In [7]:
df.select(col("Name").alias("Employee_Name"), col("Age").alias("Years")).show()

+-------------+-----+
|Employee_Name|Years|
+-------------+-----+
|        Alice|   25|
|          Bob|   30|
|      Charlie|   28|
|        David|   35|
|          Eva|   40|
+-------------+-----+

# Select with Expressions

In [8]:
df.select(col("Name"), (col("Age") + 5).alias("Age_After_5_Years")).show()

+-------+-----------------+
|   Name|Age_After_5_Years|
+-------+-----------------+
|  Alice|               30|
|    Bob|               35|
|Charlie|               33|
|  David|               40|
|    Eva|               45|
+-------+-----------------+