In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark Example").getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x78772fcc9fd0>

In [3]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
columns = ["name", "age"]

df = spark.createDataFrame(data, columns)
df.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [5]:
from pyspark.sql.types import *
data = [("Amrit", 25), ("Boba", 30), ("Charlie", 35)]
schema = StructType([StructField(name='Name', dataType=StringType()),
            StructField(name='Age', dataType=IntegerType())])

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+-------+---+
|   Name|Age|
+-------+---+
|  Amrit| 25|
|   Boba| 30|
|Charlie| 35|
+-------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)